{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.screenings_list'|trans }}
{% endblock %}

{% block body %}
    <h1>
        <p class="text-warning"> {{ 'title.screenings_list'|trans }} </p>

    </h1>
    {% if screenings|length > 0 %}
        <table class="table table-striped">
            <tr>
                <th>Tytuł</th>
                <th>Data</th>
                <th>Godzina</th>
                <th>Sala</th>
                <th>Edytuj</th>
                <th>Usuń</th>
            </tr>

            {% for row in screenings %}
                <tr>
                    <td>{{ row.movie_title }}</td>
                    <td>{{ row.screening_date }}</td>
                    <td>
                       {{ row.screening_time }}
                    </td>
                    <td>
                        {{ row.name}}
                    </td>
                    <td>
                        <a href="{{ url('screening_edit', {'id':row.screening_id}) }}" title="{{ 'label.edit'|trans }}" class="btn btn-warning">
                            {{ 'label.edit'|trans }}</a>
                    </td>
                    <td>
                        <a href="{{ url('screening_delete', {'id':row.screening_id}) }}" title="{{ 'label.delete'|trans }}" class="btn btn-warning">
                            {{ 'label.delete'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div>
            <a href="{{ url('movieList_index') }}" title="{{ 'label.back_to_list'|trans }}" class="btn btn-dark">
                {{ 'label.back_to_list'|trans }}
            </a>
        </div>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}
{% endblock %}