{% extends 'base.html.twig' %}

{% block title %}{{ 'title.movie_delete'|trans({'%id%': movie.movie_id}) }}{% endblock %}

{% block body %}
    <h1>{{ 'title.movie_delete'|trans({'%id%': movie.movie_id}) }}</h1>
    {{ form_start(form, { method: 'post', action: url('movieList_delete', {'id': movie.movie_id}) }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
    <a href="{{ url('movieList_index') }}" title="{{ 'label.back_to_list'|trans }}" class="btn btn-default">
        <span class="fa fa-mail-reply" aria-hidden="true"></span>
        {{ 'label.back_to_list'|trans }}
    </a>
{% endblock %}