{% extends 'base.html.twig' %}
{% block body %}
{% if movie is defined and movie|length %}
    <h1>
        {{ 'title.movie_view'|trans({'%id%': movie.movie_id}) }}
    </h1>
    <div>
        <table class="table table-striped">
            <tr>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Czas trwania</th>
            </tr>
                <tr>
                    <td>{{ movie.movie_title }}</td>
                    <td>{{ movie.movie_description }}</td>
                    <td>{{ movie.movie_duration_min }} min</td>
                </tr>
        </table>

    <div>
        <a href="{{ url('movieList_index') }}" title="{{ 'label.back_to_list'|trans }}" class="btn btn-dark">
            {{ 'label.back_to_list'|trans }}
        </a>
        <a href="{{ url('screening_index', {'id':movie.movie_id}) }}" title="{{ 'label.screening'|trans }}" class="btn btn-dark">
            {{ 'label.screening'|trans }}
        </a>
    </div>
{% else %}
    <div>
        No movie found!
    </div>
{% endif %}
{% endblock %}